<html>
<title></title>
<body>
<tr>
    <td>
        <h1>Resultado</h1><br />
        {% if mensaje == true %}
            <h3>La operacion fue realizada con Éxito</h3>
        {% else %}
            <h3>La operación ha fallado</h3>
        {% endif %}

    </td>
</tr>
</body>
</html>