<html>
<title></title>
<body>
    <table border="0" cellspacing="10">
        <tr>
            <td>
                <form action="/agregarUsuariosTwig/agregar" name="agregar" method="post">
                    <fieldset>
                        <b>DNI:</b> <input type="number" name="dni" /><br/>
                        <b>Nombre:</b> <input type="text" name="nombre" /><br/>
                        <b>Apellido:</b> <input type="text" name="apellido" /><br/>
                        <input type="submit" value="Agregar" />
                    </fieldset>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>