<html>
<head>
</head>
<body>
    <h1> Welcome to Twig MPWAR</h1>
    <fieldset>
        <form>
            <a href="plantillaInsertar" ><label> Agregar Usuario</label></a>
            <a href="/verUsuariosTwig/mostrar" ><label> Mostrar Usuario</label></a>
        </form>
    </fieldset>
</body>
</html>